#nav-bar {
	max-height: 50px;
	background-color: #fff;
	line-height: 50px;
	border-bottom: 1px solid #333;
}

nav > ul, nav > ul > li {
	max-height: 50px;
}

nav > ul > li {
	display: inline;
	text-align: center;
}

.nav-item > a:link,
.nav-item > a:visited,
.nav-item > a:active,
.nav-item > a:hover{
	color: #428bca;
	text-decoration: none;
	font-size: 24px;
}

.logo {
	max-height: 50px;
	max-width: 100px;
}

#user-icon {
	color: #428bca;
	padding-top: 12px;
	font-size: 28px;
}
