body {
	background-image: linear-gradient(to bottom, #f0f0f0, #fbfbfb, #ffffff);
	min-height: 100vh;
	margin-bottom: 2%;
}

#nav-bar {
	max-height: 50px;
	background-color: #fff;
	line-height: 50px;
	border-bottom: 1px solid #333;
}

nav > ul, nav > ul > li {
	max-height: 50px;
}

nav > ul > li {
	display: inline;
	text-align: center;
}

.nav-item > a:link,
.nav-item > a:visited,
.nav-item > a:active,
.nav-item > a:hover{
	color: #888888;
	text-decoration: none;
	font-size: 18px;
	font-variant: small-caps;
}

.logo {
	max-height: 50px;
	max-width: 100px;
}

#user-icon {
	color: #428bca;
	padding-top: 12px;
	font-size: 28px;
}

.card {
	margin: 5vh;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.6);
}

.card-header {
	padding: 2vh;
	color: #fff;
	font-size: 20px;
	background-color: #428bca;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.card-body {
	padding: 2vh;
}

form {
	margin-bottom: 0;
}

.feedback {
	margin: 1vh;
	padding: 2vh;
	border-radius: 5px;
	font-size: 14px;
	font-style: italic;
	display: none;
}

.feedback.alert {
	color: #d9534f;
	background-color: #f7cccb;
}

.feedback.success {
	color: #5cb85c;
	background-color: #c9f5c6;
}

footer {
	background-color: #555555;
	color: #FFFFFF;
	text-align: center;
	bottom: 0; left: 0; right: 0;
	padding: 4px 0 4px 0;
	position: fixed;
	z-index: 100;
}
