h1 {
    text-align: center;
    text-transform: uppercase;
}

li {
    text-align: center;
    list-style-type: disc;
    font-size: 25px;
}

.row {
    width: 100%;
    height: 20%;
}

p {
    text-align: center;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
